#main
	padding 60px 0
	background-image url(../img/main_img.png), url(../img/main_img.png)
	background-repeat no-repeat, no-repeat
	background-position: center bottom -130px, center top -190px
	text-align: center
.pre
	font-size: 20px
.main_title
	font-size: 52px
	font-family: "YanoneKaffeesatzBold", sans-serif;
	margin 15px 0 20px
	line-height: 50px
	small
		font-size: 60%
		display block
		font-family: 'YanoneKaffeesatz', sans-serif
.main_text
	font-size: 22px
	&:last-of-type
		margin: 15px 0 40px
	span
		display: inline-block