#tasks
	padding 50px 0
.day
	padding 20px
.video_wrapper_videos
	max-width 560px
.video_text
	margin-top: 10px
	font-size: 20px
.feedback_general_title
	margin-top: 60px
#vk
#fb
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .25);
	overflow hidden
	border-radius: 10px