section#main
	.container
		p.pre Бонус от Татьяны Тэсс
		h1.main_title «Получение информации с помощью руны Ключ»
		h2.main_subtitle Старт интенсива: 29 апреля, в 19:00 мск
		.video_wrapper.main_video_wrapper
			.iframe_shadow
			iframe(src="https://youtube.com/embed/?rel=0&autoplay=0" allowfullscreen)