-var head_url = 'https://tess.mastervision.su/russian-runes/bonus/';
-var head_title = '«Получение информации с помощью руны Ключ»';
-var head_description = 'Бонус от Татьяны Тэсс';
-var styles = '../css/bonus.css';
-var fb_content = '2030481470529055'
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_in
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/bonus/header
		include pug/bonus/main
		include pug/bonus/feedback
		include pug/bonus/footer
		include pug/scripts/body_bottom_scripts