-var head_url = 'https://tess.mastervision.su/russian-runes/course/';
-var head_title = '«Магия Русских Рун.  Преображение судьбы за 3 месяца»';
-var head_description = 'Обучающий курс Татьяны Тэсс';
-var styles = '../css/course.css';
-var fb_content = '2030481470529055'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_in
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/bonus/header
		include pug/course/main
		include pug/course/get
		include pug/course/plan
		include pug/course/for
		include pug/course/prices
		include pug/course/tasks
		include pug/course/footer
		include pug/course/scripts
		include pug/scripts/body_bottom_scripts 