-var head_url = 'https://tess.mastervision.su/russian-runes/';
-var head_title = '«Русские руны. Научитесь видеть то, что недоступно другим»';
-var head_description = 'Бесплатный 2-хдневный интенсив от Татьяны Тэсс';
-var head_img = 'https://tess.mastervision.su/russian-runes/img/banner.jpg';
-var styles = 'css/styles.css';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/header
		include pug/main/main
		include pug/main/for
		include pug/main/plan
		include pug/main/get
		include pug/main/author
		include pug/main/certs
		include pug/main/revs
		include pug/main/last
		include pug/main/footer
		include pug/main/scripts
		<!--BEGIN JIVOSITE CODE-->
		//script
			| (function() {var widget_id = 'cMdj5UfoZX';var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//code.jivosite.com/script/widget/' + widget_id;var ss = document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);})();
		<!--END JIVOSITE CODE-->
		include pug/scripts/body_bottom_scripts