section#author
	.container
		h3.general_title.general_title_white.general_title_author О тренере - Татьяна Тэсс
		.row
			.col-md-5.col-sm-5
				.author_container
					.author_img
			.col-md-7.col-sm-7
				.author_info
					p.author_info_text Меня зовут Татьяна Тэсс, у меня два высших образования, за плечами аспирантура, имею несколько научных публикаций и большой опыт преподавания семейного и административного права
					p.author_info_text Эзотерикой я начала активно заниматься с 1991 года. Закончила обучение в Академии Магии и парапсихологии, и в 1992 году училась в Институте парапсихологии. Имею дипломы  биоэнерготерапевта, биоэнерго-оператора, а также диплом экстрасенсорного целителя, а также сертификаты таролога, сертификаты обучения деревенской, заговорной и ритуальной  магии
					p.author_info_text С 1993 года занимаюсь гаданием, в том числе на картах  ТАРО и Ленорман. В настоящее время я практикую заговорную, ритуальную и деревенскую магию, а также магию Русских рун. Изучаю взаимосвязь магии и квантовой физики, связь заговорной магии и вербально-волновой генетики. Я практик, преподавать он-лайн начала сравнительно недавно.​​