section#certs
	.container
		h3.general_title.general_title_certs Сертификаты, дипломы и регалии тренера
		.row
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_1.jpg" data-fancybox="cert")
					img.cert_img.cert_img_left(src="img/certs/cert_1.jpg", alt="Сертификат 1")
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_2.jpg" data-fancybox="cert")
					img.cert_img.cert_img_right(src="img/certs/cert_2.jpg", alt="Сертификат 2")
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_3.jpg" data-fancybox="cert")
					img.cert_img(src="img/certs/cert_3.jpg", alt="Сертификат 3")
		.row
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_4.jpg" data-fancybox="cert")
					img.cert_img.cert_img_right(src="img/certs/cert_4.jpg", alt="Сертификат 4")
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_5.jpg" data-fancybox="cert")
					img.cert_img(src="img/certs/cert_5.jpg", alt="Сертификат 5")
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_6.jpg" data-fancybox="cert")
					img.cert_img(src="img/certs/cert_6.jpg", alt="Сертификат 6")
		.row
			.col-md-4.col-sm-4
				img.certs_runes(src="img/certs_runes_1.png", alt="Руны")
			.col-md-4.col-sm-4
				a.cert(href="img/certs/cert_7.jpg" data-fancybox="cert")
					img.cert_img(src="img/certs/cert_7.jpg", alt="Сертификат 7")
			.col-md-4.col-sm-4
				img.certs_runes(src="img/certs_runes_2.png", alt="Руны")