section#for
	.container
		h3.general_title.general_title_white.general_title_for Этот интенсив необходим вам, если вас преследуют
		.row
			.col-md-5.col-sm-6
				.for_wrapper.for_wrapper_left
					ol.for_wrapper_list
						li 
							span Неуверенность в себе, сомнения в своей востребованности;
						li 
							span Проблемы со здоровьем: лишний вес, постоянные попытки похудеть,  гормональные сбои, хронические заболевания;
						li 
							span Тяжелые воспоминания детства, неудачные отношения с партнером;
						li 
							span Накопленные негативные эмоции;
						li 
							span Проблемы с половой дисфункцией;
			.col-md-2.col-sm-0
			.col-md-5.col-sm-6
				.for_wrapper.for_wrapper_right
					ol.for_wrapper_list(start="6")
						li 
							span Разочарования и негативный опыт;
						li 
							span Угасание чувств и эмоций, депрессия;
						li 
							span Негативные привязки к ситуациям из прошлого;
						li 
							span Страх перемен, жизнь в замкнутом круге;
						li 
							span Одиночество,  восприятие себя как “гадкого утенка”, потеря привлекательности и сексуальности
		button.button.button_for(data-toggle="modal" data-target="#myModal") Записаться