section#get
	.container
		h3.general_title.general_title_white.general_title_get Благодаря этому интенсиву вы
		.row
			.col-md-3.col-sm-3
				.get.get_1
					.get_img.get_img_1
					p.get_text Устраните из вашей жизни негативные программы и негативные установки в отношении своей востребованности, значимости и внешности
			.col-md-3.col-sm-3
				.get.get_2
					.get_img.get_img_2
					p.get_text Сможете устранять негативные установки, мешающие вам стать успешнее
			.col-md-3.col-sm-3
				.get.get_3
					.get_img.get_img_3
					p.get_text Сможете очищать энергию, пространство и предметы, снимать порчу и сглаз
			.col-md-3.col-sm-3
				.get.get_4
					.get_img.get_img_4
					p.get_text Сможете устранять тяжелые воспоминания о прошлом опыте
		.row
			.col-md-3.col-sm-3
				.get.get_5
					.get_img.get_img_5
					p.get_text Научитесь отрезать негативные привязки и подключки к токсичным людям
			.col-md-3.col-sm-3
				.get.get_6
					.get_img.get_img_6
					p.get_text Сможете менять свое прошлое, удалять негативные и болезненные воспоминания
			.col-md-3.col-sm-3
				.get.get_7
					.get_img.get_img_7
					p.get_text Сможете удалять из своего биополя негативные сущности и лярвы, влияющие на ваше здоровье, на вашу внешность и вашу привлекательность
			.col-md-3.col-sm-3
				.get.get_8
					.get_img.get_img_8
					p.get_text Устраните энергетические причины ваших гормональных сбоев, улучшите состояние своего здоровья
		.row
			.col-md-3.col-sm-3
				.get.get_9
					.get_img.get_img_9
					p.get_text Будете привлекать нужных вам людей
			.col-md-3.col-sm-3
				.get.get_10
					.get_img.get_img_10
					p.get_text Получите возможность устранять причины  конфликтных отношений в семье и в социуме. Убрать из жизни разногласия, обиды, недопонимание
			.col-md-3.col-sm-3
				.get.get_11
					.get_img.get_img_11
					p.get_text Сможете поддерживать благополучие и гармонию в отношениях
			.col-md-3.col-sm-3
				.get.get_12
					.get_img.get_img_12
					p.get_text Научитесь выстраивать свои личные границы и защищать свою семью от негативного вмешательства третьих лиц
		.row
			.col-md-3.col-sm-3
				.get.get_13
					.get_img.get_img_13
					p.get_text Улучшите свою внешность: обретете стройность, устраните признаки старения, восстановите свой гормональный фон
			.col-md-6.col-sm-6
				button.button.button_get(data-toggle="modal" data-target="#myModal") Записаться
			.col-md-3.col-sm-3
				.get.get_14
					.get_img.get_img_14
					p.get_text Приобретете уверенность в себе, станете более привлекательным для окружающих