section#last
	.container
		.last_container
			h3.last_title Достигайте большего ежедневно!
			h4.last_subtitle Десятки учеников доверяют нам и реализуют свои цели
				br
				| Начните сейчас это бесплатно!
			button.button.button_last(data-toggle="modal" data-target="#myModal") Записаться