section#plan
	.container
		h3.general_title.general_title_plan План интенсива
		.day
			.day_back_1
			.day_back_2
			.day_container.day_container_1
				h4.day_title Первый день
				ul.day_list
					li Происхождение  Русских рун. Понятие и сущность  Русских рун
					li Определение нашего истинного желания, что мы хотим в отношениях. Как правильно формировать свои желания на любовь и счастье
					li Энергетическая практика
				h4.day_title Бонус
				p Изготовление и активация Русской руны “Рассеяние”. Необходимо иметь: свеча, спички, лист бумаги, ручка
		.day
			.day_back_1
			.day_back_2
			.day_container.day_container_2
				h4.day_title Второй день
				ul.day_list
					li Материалы для изготовления Русских рун, активация Русских рун
					li Энергетическая практика
					li Почему наши желания не исполняются, негативные блоки и установки, мешающие нам быть успешными, любить и быть счастливыми
				h4.day_title Бонус
				p Изготовление и активация Русской руны “Путь”.  Необходимо иметь: свеча, спички, лист бумаги, ручка
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться