section#plan
	.container
		h3.general_title.general_title_plan План интенсива
		.day
			.day_back_1
			.day_back_2
			.day_container.day_container_1
				h4.day_title Первый день
				ul.day_list
					li Представление
					li Регламент
					li Происхождение  Русских рун. Понятие и сущность  Русских рун
					li Ответы на вопросы
					li Определение нашего истинного желания, как правильно формировать свои желания
					li Энергетическая практика
					li 
						span Бонус: 
						| Изготовление и активация Русской руны «Рассеяние». Необходимо иметь: свеча, спички, лист бумаги, ручка.
					li Ответы на вопросы
					li 
						span Домашнее задание: 
						| определить свое истинное желание
				//- h4.day_title Бонус
				//- p Изготовление и активация Русской руны “Рассеяние”. Необходимо иметь: свеча, спички, лист бумаги, ручка
		.day
			.day_back_1
			.day_back_2
			.day_container.day_container_2
				h4.day_title Второй день
				ul.day_list
					li Регламент
					li Материалы для изготовления Русских рун
					li Ответы на вопросы
					li Энергетическая практика
					li Решение  жизненных проблем с помощью русских рун в сфере финансов, карьеры, здоровья, личных отношений
					li 
						span Бонус: 
						| Изготовление и активация Русской руны «Путь».  Необходимо иметь: свеча, спички, лист бумаги, ручка
					li Ответы на вопросы
					li 
						span Домашнее задание: 
						| определить свою основную проблему
				//- h4.day_title Бонус
				//- p Изготовление и активация Русской руны “Путь”.  Необходимо иметь: свеча, спички, лист бумаги, ручка
		.day
			.day_back_1
			.day_back_2
			.day_container.day_container_3
				h4.day_title Третий день
				ul.day_list
					li Регламент
					li Лярвы и мафлоки. Устранение негативных блоков, установок, программ с помощью Русских рун. Устранение порчи и сглаза с помощью Русских рун
					li Ответы на вопросы
					li Энергетическая практика
					li 
						span Бонус: 
						| Изготовление и активация Русской руны «Ясно».  Необходимо иметь: свеча, спички, лист бумаги, ручка
					li Ответы на вопросы
					li 
						span Домашнее задание: 
						| с помощью руны Ясно прояснить сложную ситуацию
				//- h4.day_title Бонус
				//- p Изготовление и активация Русской руны «Ясно».  Необходимо иметь: свеча, спички, лист бумаги, ручка
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться