section#revs
	.container
		h3.general_title.general_title_revs Отзывы
		#text_revs.carousel.slide(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					a.text_rev_link(href="img/revs/rev_1.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_1.jpg" alt="Отзыв 1")
				.item
					a.text_rev_link(href="img/revs/rev_2.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_2.jpg" alt="Отзыв 2")
				.item
					a.text_rev_link(href="img/revs/rev_3.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_3.jpg" alt="Отзыв 3")
				.item
					a.text_rev_link(href="img/revs/rev_4.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_4.jpg" alt="Отзыв 4")
				.item
					a.text_rev_link(href="img/revs/rev_5.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_5.jpg" alt="Отзыв 5")
				.item
					a.text_rev_link(href="img/revs/rev_6.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_6.jpg" alt="Отзыв 6")
				.item
					a.text_rev_link(href="img/revs/rev_7.jpg" data-fancybox="revs")
						img.rev_img(src="img/revs/rev_7.jpg" alt="Отзыв 7")
			ol.carousel-indicators
				li.active( data-target="#text_revs" data-slide-to="0")
				li( data-target="#text_revs" data-slide-to="1")
				li( data-target="#text_revs" data-slide-to="2")
				li( data-target="#text_revs" data-slide-to="3")
				li( data-target="#text_revs" data-slide-to="4")
				li( data-target="#text_revs" data-slide-to="5")
				li( data-target="#text_revs" data-slide-to="6")
			.controls
				a( class="left carousel-control" href="#text_revs" role="button" data-slide="prev") ❮
				a( class="right carousel-control" href="#text_revs" role="button" data-slide="next") ❯