#author
	padding 70px 0
	background-color: rgb(4,4,6)
	background-image url(../img/author_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	overflow hidden
.author_container
	position relative
.author_img
	position: absolute
	left 0
	top -65px
	width 454px
	height 747px
	background-image url(../img/tess.png)
	background-repeat no-repeat
	background-position: center
.author_info
	padding 50px 10px 35px 64px
	border-top: 5px solid rgb(0,86,194)
	border-left: 5px solid rgb(0,86,194)
.author_info_text
	color #fff
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0