footer
	padding 20px 0
	background-color: #dfc194
	text-align: center
	p
		font-size: 14px;
		color: rgb(0, 0, 0);
		line-height: 1.786;
		font-family: "AvenirNextCyr", sans-serif
.modal-backdrop.in
	opacity .9
.modal-content
	background-color: #fff
	border-radius: 10px
	text-align: center
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .25);
	border: 2px solid #eac293;
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	font-family: 'YanoneKaffeesatzBold',sans-serif
	&:hover
		color: #F0F0F0
		background-color: #000
.modal_mail_section_title
	font-size: 30px
	font-family: 'YanoneKaffeesatzBold',sans-serif
	margin 0 auto
	width 100%
	max-width 88%
.modal_mail_subtitle
	font-size: 22px
	font-family: 'YanoneKaffeesatz',sans-serif
	margin 20px 0
.politics_modal-content
	background-color #fff
	background-image none
	.modal-title
		font-size: 24px
		text-align: left 
		width 100%
		max-width 90%
		font-family: 'YanoneKaffeesatzBold', sans-serif
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
		text-align: left