header
	padding 16px 0
	background-color: #dfc194
	overflow hidden
#logo
	float left
	width 240px
	margin-top: 0
.contacts
	float: right
	line-height: 22px
	vertical-align: middle
.contact
	display: inline-block
	margin-left: 16px
	padding-left: 30px
	background-repeat no-repeat
	background-position: left center
	background-size contain
	font-family: "AvenirNextCyr", sans-serif
	span
		color #000
	&:focus
		text-decoration: none
		color #000
	&:hover
		text-decoration: underline
		color #000
.contact_tel
	background-image url(../img/tel_icon.png)
.contact_skype
	background-image url(../img/skype_icon.png)
.contact_mail
	background-image url(../img/mail_icon.png)
	padding-left: 36px