#plan
	padding 70px 0
	background-color #fff
	background-image url(../img/plan_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size contain
.day_container
	position relative
	padding 30px 470px 30px 30px
	border-radius: 10px
	box-shadow: 0 3px 18px 3px rgba(0,0,0,.51)
	background-color #fff
	z-index 9
.day_container_1
	background-image url(../img/day_1_img.png), url(../img/day_bg.jpg)
	background-repeat no-repeat, no-repeat
	background-position: center right 55px,center right -45px
.day_container_2
	background-image url(../img/day_2_img.png), url(../img/day_bg.jpg)
	background-repeat no-repeat, no-repeat
	background-position: center right 55px,center right -45px
.day_back_1
.day_back_2
	position: absolute	
	background-color #fff
	height 30px
	border-radius: 10px;
	box-shadow: 0px 3px 17.1px 0.9px rgba(0, 0, 0, 0.51);
	margin 0 auto
	left 0
	right 0
.day_back_1
	width 90%
	z-index -3
	bottom: -8px
.day_back_2
	width 84%
	z-index -5
	bottom: -16px
.day
	position relative
	z-index 99
	margin-bottom: 65px
.day_title
	font-size: 25px
	font-family: "YanoneKaffeesatzBold", sans-serif;
	margin-bottom: 10px
.day_list
	width 100%
	max-width 600px
	margin-bottom: 35px
	li
		list-style: none
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
.button_plan
	margin-top: 65px