section#for
	.container
		h3.general_title.general_title_white.general_title_for Этот курс для тех, кто хочет:
		ul.get_list.for_list
			li устранить из своей жизни негативные  программы,  негативные блоки, порчи и сглазы
			li решить финансовые, карьерные и материальные  проблемы,  вы сможете получить  желаемую вам работу 
			li увеличить материальный достаток, увеличивать финансовый доход  
			li привлекать клиентов, привлекать нужные вам ресурсы и нужных вам партнеров в свой бизнес
			li решить личные, любовные  и семейные проблемы
			li привлечь  в свою жизнь нужного вам партнера,   создать  счастливую семью 
			li защитить свою семью от любовниц, завистников, недоброжелателей, быть привлекательной для своего партнера
			li защитить ваше биополе и биополе  близких вам людей  
			li защитить свое имущество: квартиру, автомобиль, дачу, участки
			li защитить свой бизнес, свое материальное благополучие, свое положение в организации, свою должность
			li улучшить состояние своего здоровья
			li восстановить  энергетику своего организма 
			li устранить причины соматических заболеваний 
			li устранить причины заболеваний позвоночника, сосудов, причины высокого артериального давления, заболеваний печени, почек, поджелудочной железы, ЖКТ, и других заболеваний
		a.button.button_get(href="#prices") Участвовать