section#get
	.container
		h3.general_title.general_title_white.general_title_get По результатам прохождения курса:
		ul.get_list
			li Вы освоите  методы очищения, набора  и управления энергиями с помощью  Русских рун;
			li Вы сможете  определять наличие  негативных программ и установок,  сглаза,   порчи, наговоров, а также методы их снятия;
			li Вы научитесь составлять  заговоры  и  заклинания, и  можете применять их в магической практике с Русскими рунами;
			li Вы сможете  определять зависимость от токсичных эгрегоров, а также  Вы сможете отрезать ваше биополе от токсичного  эгрегора и токсичных привязок с помощью Русских рун;
			li Вы научитесь устранять  самосаботаж  с помощью   Русских рун;
			li Вы получите уникальные методики составления аффирмаций и работы с ними с использованием  Русских рун;
			li Вы получите метод работы с Картой  исполнения желаний при помощи  Русских рун;
			li Вы сможете решать проблемы в сфере  финансов, карьеры, бизнеса, недвижимости, отношений и здоровья;
			li Вы получите методы решения ваших проблем с недвижимостью при  покупке, продаже, аренде недвижимости с применением  Русских рун;
			li Вы получите способы решения ваших проблем с долгами, кредитами, финансовыми и материальными потерями используя для этого Русские  руны;
			li Вы получите инструменты решения  ваших проблем с работой, карьерой,   с увольнениями и сокращениями;
			li Вы получите  методы решения ваших проблем в сфере личных отношений,  привлечения в вашу жизнь нужного вам партнера и  счастливого супружества;
			li Вы получите способы  работы  с Русскими рунами при восстановлении  организма, здоровья, устранение причин соматических заболеваний;
			li Дополнительно вы получите возможность решать свои проблемы путем выполнения домашних заданий, которые я лично буду проверять и давать вам письменные рекомендации;
		a.button.button_get(href="#prices") Участвовать