section#main
	.container
		p.pre Записи и домашние задания интенсива внизу страницы
		h1.main_title 
			small Обучающий курс
			| «Магия русских рун. Преображение судьбы за 3 месяца»
		p.main_text Начало курса: 
			span 8 мая, 19-00 Мск
		p.main_text Автор курса: 
			span Татьяна Тэсс
		a.button.button_main(href="#tasks") К домашним заданиям