section#plan
	.container
		h3.general_title.general_title_plan План курса
		.lessons
			.lesson_back_1
			.lesson_back_2
			ul.lessons_buttons
				li Занятие 1
				li Занятие 2
				li Занятие 3
				li Занятие 4
				li Занятие 5
				li Занятие 6
				li Занятие 7
				li Занятие 8
				li Занятие 9
				li Занятие 10
				li Занятие 11
				li Занятие 12
			.lessons_container
				.lesson
					h4.lesson_title Занятие 1
					ul.lesson_list
						li Русские руны и квантовое поле. Достижение успеха, счастья,  любви с помощью Русских рун
						li Почему наши желания не исполняются, порядок формирования намерения и эмоциональный настрой
						li Энергетическая практика
						li Практические занятия с рунами Ясно, Веденье и Дезинформация
						li 
							span Домашнее задание:
							ul.lesson_inner_list 
								li С помощью руны Дезинформация, Веденье и Ясно определить  источники своего  дохода и причину проблем в личной жизни
				.lesson
					h4.lesson_title Занятие 2
					ul.lesson_list
						li Разбор домашнего задания
						li Техника безопасности при работе с Русскими рунами
						li Энергетическая практика
						li Влияние звука на человека. Звуковая активация Русских рун
						li Практическое занятие с русскими рунами Рассеяние, Помощь, Путь
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Провести ритуал с руной Путь для определения своего пути, своего предназначения.
								li Устранить негативные эмоции с помощью руны Рассеяние и Помощь
				.lesson
					h4.lesson_title Занятие 3
					ul.lesson_list
						li Разбор домашнего задания
						li Стихии в магической практике. Работа с Русскими  рунами  с учетом вашей стихии
						li Энергетическая практика
						li Лярвы и мафлоки. Устранение негативных сущностей, сглаза и  порчи с помощью Русских рун
						li Практическая работа с русскими рунами: Ветер, Дыхание, Огонь
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Определить вашу ведущую стихию, 
								li Провести ритуал с русскими рунами  Огонь, Ветер, Дыхание на устранение негативной сущности блокирующей приход денег, препятствующей счастливому браку,   препятствующей карьере
								li Написать намерение, описать ваши  ощущения
				.lesson
					h4.lesson_title Занятие 4
					ul.lesson_list
						li Разбор домашнего задания
						li Эгрегоры. Понятие эгрегоров, влияние эгрегора на человека.  Использование Русских рун при устранении зависимости от токсичных эгрегоров,  устранение токсичных привязок
						li Энергетическая практика
						li Самосаботаж, его влияние на нашу жизнь. Устранение самосаботажа при помощи Русских рун
						li Энергетические практики с русскими рунами Вода, Вихрь, Дождь
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Провести ритуал на отрезание от токсичного эгрегора русскими рунами  Огонь, Вихрь, Вода;
								li Провести ритуал на устранение самосаботажа русскими рунами Вода, Ветер, Огонь
				.lesson
					h4.lesson_title Занятие 5
					ul.lesson_list
						li Разбор домашнего задания
						li Решение финансовых проблем с помощью русских рун, устранение негативных программ и установок
						li Энергетическая практика
						li Изготовление  амулетов и талисманов
						li Практическая работа с русскими рунами Достаток, Победа, Рост, Мощность
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Устранить негативные установки, мешающие приходу больших денег,  русскими рунами Огонь, Вода, Вихрь;
								li Изготовить амулет для получения дохода, прибыли, больших денег с русскими рунами Достаток, Рост, Побед
				.lesson
					h4.lesson_title Занятие 6
					ul.lesson_list
						li Разбор домашнего задания
						li Решение проблем в сфере личных отношений. Создание семьи и сохранение гармоничных отношений с помощью русских рун. 
						li Энергетическая практика
						li Устранение приворотов, отворотов и порчи на любовь и отношения с помощью русских рун
						li Практическая работа с русскими рунами Ключ, Равновесие, Оболочка
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Провести  ритуал на устранение приворота, порчи и сглаза на отношения с русскими рунами Огонь, Вода, Вихрь;
								li Провести ритуал на поиск партнера, на встречу с любимым человеком с русскими рунами Путь, Ключ и Помощь
				.lesson
					h4.lesson_title Занятие 7
					ul.lesson_list
						li Разбор домашнего задания
						li Понятие заговора и  заклинания. Применение  Русских  рун в заговорной магии
						li Энергетическая практика
						li Гармонизация отношений в семье и в быту. Привлечение энергий Любви и Радости в отношения русскими рунами
						li Практическая работа с русскими рунами  Легкость,  Любовь и Радость
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Составить заговоры для работы с русскими рунами «Достаток» и «Любовь»
								li Написать алгоритм гармонизации отношений в семье  с русскими рунами Рассеяние, Равновесие, Любовь и Радость.
								li Сделать амулет или талисман с русскими  рунами Любовь и Радость
				.lesson
					h4.lesson_title Занятие 8
					ul.lesson_list
						li Разбор домашнего задания
						li Защита вашего имущества: дома, машины, дачи с использованием Русских рун
						li Энергетическая практика
						li Защита от энерго-вампиров с помощью русских рун
						li Практическая работа с русскими  рунами Защита, Замок, Вращение
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Провести ритуал на защиту вашего имущества с русскими рунами Защита и Замок;
								li Провести ритуал на защиту от энерговампиров с русской руной Вращение;
								li Изготовить амулеты на защиту с русскими рунами Защита и Замок
				.lesson
					h4.lesson_title Занятие 9
					ul.lesson_list
						li Разбор домашнего задания
						li Русские руны при решении проблем с недвижимостью: покупка, продажа, аренда недвижимости
						li Работа с Русскими рунами  при оказании помощи детям в обучении и сдаче экзаменов
						li Решение ваших проблем при помощи Русских рун в сфере работы и карьеры, устранение рабочих конфликтов, устранение угрозы сокращения и увольнения. Русские руны при поиске работы
						li Энергетическая практика
						li Практическая работа с русскими рунами Концентрация, Целенаправленность и Замедление
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Написать алгоритм решения проблемы с недвижимостью (продажа, покупка, аренда);
								li Написать алгоритм помощи учащемуся для помощи в обучении;
								li Изготовить талисман на удачную сдачу экзамена (победу на олимпиаде, выигрыше в спортивном соревновании и т.д.);
								li Написать алгоритм решения ваших проблем на работе, в карьерном росте
				.lesson
					h4.lesson_title Занятие 10
					ul.lesson_list
						li Разбор домашнего задания
						li Работа с Русскими рунами на  дачах, участках, огородах, работа с комнатными цветами, с животными и т.д.
						li Энергетическая практика
						li Работа с Русскими рунами при восстановлении энергии,  здоровья, устранение причин соматических заболеваний
						li Практическая работа с русскими рунами Восстановитель, Лед, Ускорение и Вечность
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Провести ритуал на увеличение урожая с русскими рунами Рост и Достаток;
								li Провести ритуал с русской руной Оболочка на восстановление энергии;
								li Написать алгоритм на устранение соматического заболевания русскими рунами
				.lesson
					h4.lesson_title Занятие 11
					ul.lesson_list
						li Разбор домашнего задания
						li Устранение негативных родовых программ с помощью  Русских рун
						li Энергетическая практика
						li Русские  руны при устранении кармических долгов и кармических отношений
						li Практическая работа с русскими рунами Ноль, Трансформация, Поток
						li 
							span Домашнее задание:
							ul.lesson_inner_list
								li Написать алгоритм на устранение кармических отношений с помощью русских рун;
								li Написать алгоритм на устранение негативной родовой программы с помощью русских рун
				.lesson
					h4.lesson_title Занятие 12
					ul.lesson_list
						li Разбор домашнего задания
						li Практическая работа с русскими рунами Сытость, Пасмурно и Наша Цивилизация
						li 
							span Бонусы:
							ul.lesson_inner_list
								li «Худеем быстро и с удовольствием»
								li «Решение мужских проблем»
								li «Ритуалы на молодость и красоту»
								li Подведение итогов. Благодарность