.main_title
    font-weight: bold
    small
        font-weight: normal
.general_title
.day_title, .lesson_title
.timer_title
.cost span
.prepaymant_title
.garants_title
footer h5
    font-weight: bold
.lesson
    min-height 580px